@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@600&family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
}

.App{
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;

}

body {
  margin: 0px;
}

.container{
  text-align: center;
}

.site-title{
  font-size: 2rem;
}

nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}



.puppy{
  align-items: center;
  padding: .25rem;
}

.puppies{
  text-align: center;
}

.puppyContainer{
  align-items: center;
  padding: .25rem;
}

.puppyCard{
  margin-top: 2rem;
}

.studs{
  text-align: center;
}

.puppyCard:hover{
  transform: scale(1.02);
}

.EmailForm {
  max-width: 85%;
  padding-left: 20%;
  text-align: center;
}

h1{
  padding-top: 3rem;
}